.banner {
  align-items: center;
  background: $blue;
  padding-bottom: 20px;

  img {
    padding-top: 20px;
  }

  h2 {
    display: none;
  }
}

@media screen and (max-width: $phone-only) {
  .banner {
    .banner-img {
      display: none;
    }
  }
}
@media screen and (min-width: $tablet-potrait-up) {
  .banner {
    .banner-mob-img {
      display: none;
    }
  }
}

@media screen and (min-width: $tablet-landscape-up) {
  .banner {
    text-align: left;

    .banner-info {
      display: flex;
      padding-top: 75px;
    }
    .banner-text {
      padding-top: 25px;
    }
    h2 {
      display: block;
    }
    h5 {
      padding-left: 10px;
    }
  }
}