.benefit {
  display: flex;
  justify-content: space-between;
    h3 {
    padding-top: 10px;
  }
}



@media screen and (max-width: $phone-only) {
  .benefit {
    .icon, img {
      display: none;
    }
  }
}

@media screen and (min-width: $tablet-potrait-up) {
  .benefit {
    text-align: left;
    padding: 0 0 0 10px;

    .benefit-list {
      width: 70%;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (min-width: $tablet-landscape-up) {
.benefit {
  padding-top: 25px;
  .benefit-text {
    padding-left: 30px;
    padding-right: 10px;
  }
}
}