.benefit {
  display: flex;
  justify-content: space-between;
    h3 {
    padding-top: 10px;
  }
}



@media screen and (max-width: $phone-only) {
  .benefit {
    .icon, img {
      display: none;
    }
  }
}

@media screen and (min-width: $tablet-potrait-up) {
  .benefit {
    text-align: left;
    padding: 0 0 0 10px;

    .img-container {
      display: flex;
      align-items: center;
      padding-left: 50px;
    }
  }
}

@media screen and (min-width: $tablet-landscape-up) {
.benefit {
  max-width: 900px;
  padding-top: 85px;
  .benefit-text {
    padding-left: 70px;
  }
}
}