.callToAction-container {
  background: $green;
}

@media screen and (min-width: $tablet-potrait-up) {
  .callToAction {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;

    h4 {
      margin: 1em 20px 1em 0;

    }
  }
}