.demo {
  background: $blue;
  padding-bottom: 15px;
  min-width: 100%;

  h4 {
    font-size: 18px;
  }
}

@media screen and (min-width: $tablet-potrait-up) {
  .demo {
    .youtube {
      width: 30vw;
    }
  }
}

@media screen and (min-width: $desktop-up) {
  .demo {
    .youtube {
      width: 330px;
    }
  }
}