.faq {
  h4 {
    color: $black;
  }
}

@media screen and (min-width: $tablet-potrait-up) {
  .faq {
    text-align: left;
    padding: 0 100px;

    h4 {
      text-align: center;
    }
  }


}


@media screen and (min-width: $tablet-landscape-up) {
  .faq {
    .faq-text-container {
      display: flex;
    }
    .faq-left{
      padding-right: 15px;
    }
  }
}