.faq {
  h4 {
    color: $black;
  }
}

@media screen and (min-width: $tablet-potrait-up) {
  .faq {
    text-align: left;
  }
}


@media screen and (min-width: $tablet-landscape-up) {
  .faq {
    .faq-answers {
      display: flex;
    }
  }
}