.footer {
  background: $gray;
  text-align: left;
  min-width: 100%;

  img {
    padding-top: 10px;
  }
  .title {
    font-weight: 600;
    font-size: 14px;
  }
  .copyright {
    font-size: 0.8em;
  }
}

@media screen and (min-width: $tablet-potrait-up) {
  .footer-column-container {
    display: flex;
    

    .footer-column {
      width: 60%;
      margin: 0 10px;
      &:last-of-type {
        text-align: right;
      }
    }
    .footer-middle {
      text-align: center;
    }
  }
}
