
.pricing-table-container {
  .pricing-table-heading {
    h3 {
      font-size: 34px;
      margin-bottom: 0px;
    }
    h4 {
      color: $dark-gray;
      margin-top: 5px;
      font-size: 15px;
    }
  }
}


@media screen and (max-width: $phone-only) {
  .pricing-table {
    margin: 0 auto;
    width: 300px;
  }
}

@media screen and (min-width: $tablet-potrait-up)  {
  .pricing-table-container {
    .pricing-table {
      display: flex;
      justify-content: center;
      align-items: baseline;
      padding-top: 25px;
    }
  }
}

@media screen and (min-width: $tablet-landscape-up) {
  .pricing-table {
    .table-Essential {
      .title {
        font-size: 32px;
        color: $black;
      }
    }
  }
}