

.table {
  .info {
  background-color: $white;
  border-bottom: 1px solid #eee;
  padding: 1.2em;
  color: $gray;
  }
  .info:last-of-type {
    border-bottom: none;
    padding-bottom: 0px;
  }
  .title {
    font-size: 25px;
    padding: 10px;
  }
  .price {
    font-size: 30px;
  }
}




 @media screen and (min-width: $tablet-potrait-up) {
   .table {
     min-width: 200px;

     .info:last-of-type {
       margin: 0 0 20px 0;
     }
   }
 }