

.table {
  background: $white;
  .info {
  border-bottom: 1px solid #eee;
  padding: 1.2em;
  color: $gray;
  }
  .info:last-of-type {
    padding: 0;

  }
  .title {
    font-size: 25px;
    padding: 10px;
  }
  .price {
    font-size: 30px;
  }
  .info-list:last-of-type {
    background: $blue;
  }
}





 @media screen and (min-width: $tablet-potrait-up) {
   .table {
     min-width: 200px;
     box-shadow: 0 2px 9px 0 rgba(0,0,0,0.05);
     border-radius: 2px;
      .info:last-of-type {
        padding: 5px 0 15px 0;
      }
   }
 }


