

.table {

  .info {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  padding: 1.2em;
  }
  .title {
    font-size: 25px;
  }
  .price {
    font-size: 30px;
  }
  .image {
    
  }
}




 @media screen and (max-width: $phone-only) {
   
 }
//   flex: 0 0 100%;
//     margin-bottom: 1em;
    //width: 100%;
// }
