body {
  font-family: 'Montserrat'
}

h1 {
  font-size: 36px;
  color: $white;
  font-weight: 400;
  letter-spacing: 5.26px;


}

h2 {
  font-size: 14px;
  font-weight: lighter;
  color: transparent; 
}

h4 {
  font-family: 'Lato';
  color: $white;
  font-size: 14px;
  font-weight: 300;
}