body {
  margin: 0 auto;
  text-align: center;
  min-width: 100%;
  max-width: none;
  background-color: $background;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
  div {
    max-width: 1100px;
    margin: 0 auto;
  }
  .table {
    margin: 0;
  }
}
