body {
    background-color: blue;
    font-size: 16px
}

h1 {
    color: white;
    font-size: 44px;


}
.container {
  max-width: 1024px;
  padding: 0 90px 0 90px;
  margin: 0 auto;
}

.container-banner {
    background: #01516E;
}

.callToAction {
    background: #50E3C2;
}


.btn {
    background: #E35071;
}

